@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap");

:root {
	--background: #282a36;
	--foreground: #f8f8f2;
	--background-two: #44475a;
	--backgroud-three: #6272a4;
}

* {
	box-sizing: border-box;
	/*color: var(--foreground);*/
	font-family: "Raleway", sans-serif;
	margin: 0;
	overflow: hidden;
	padding: 0;
}

body {
	background-color: var(--background);
	height: 100vh;
}

/*header {
	align-items: center;
	display: flex;
	font-size: 1.5em;
	justify-content: center;
	padding: 1.5em 0;
	text-transform: uppercase;
}*/

#buttons {
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	padding: 1em 10%;
}

#buttons .description {
	/*border: 1px solid #ff79c6;*/
	border: none;
	background-color: transparent;
	color: #ff79c6;
	font-size: 16pt;
	letter-spacing: 0.2em;
	margin: 1em 0;
	padding: 5px;
	text-align: center;
}

#buttons hr {
	border-color: #50fa7b;
	width: 100%;
}

.btn-box {
	/*border: 1px solid #ff79c6;*/
	border: none;
	background-color: transparent;
	color: #ff79c6;
	cursor: pointer;
	font-size: 16pt;
	letter-spacing: 0.2em;
	margin: 1em 0;
	padding: 5px;
}

main .btn-box {
	display: flex;
	margin: 2em auto;
	align-items: center;
	justify-content: center;
	font-size: 10pt;
    transition: background-color 0.5s, color 0.5s;
}

.btn-box .btn-title {
	border: 3px solid #ff79c6;
	background-color: transparent;
	padding: 1em 2.5em;
    transition: border 0.5s;
}

.btn-box .btn-title:active,
.btn-box .btn-title:hover {
	border: 3px solid #282a36;
}

.btn-box:active,
.btn-box:hover {
	background-color: #ff79c6;
	color: #282a36;
}

main {
	align-items: center;
	display: flex;
	font-size: 1.25em;
	height: 100vh;
	justify-content: center;
	padding: 0 2em;
}

main .box {
	background-color: var(--background-two);
	border-radius: 15px;
	margin: auto 0;
	padding: 1em;
}

main .box .title {
	color: #ff79c6;
	letter-spacing: 0.1em;
	line-height: 1em;
	margin-bottom: 1em;
	text-decoration: underline;
}

main .box .title h2 {
	height: auto;
	padding-bottom: 5px;
	overflow: visible;
}

main .box .content {
	border: 1px solid #6272a4;
	color: #f8f8f2;
	font-size: 0.8em;
	letter-spacing: 0.1em;
	line-height: 1.25;
	padding: 1em;
}

main .box .card {
	align-items: center;
	color: #bd93f9;
	font-weight: 700;
	justify-content: center;
	letter-spacing: 0.15em;
	margin: 0.5em auto 0;
	text-align: center;
	text-transform: uppercase;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	margin-bottom: 3em;
	color: #50fa7b;
}

footer a {
	color: #f1fa8c;
}

@media screen and (min-width: 767px) {
	#buttons {
		flex-wrap: wrap;
		flex-direction: row;
		padding: 3em 10%;
	}
	main {
		height: 100vh;
		padding: 0 0;
		margin: auto;
		max-width: 700px;
	}
	main .box {
		margin: auto;
	}
	footer {
		margin-bottom: 15em;
	}
}
